<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone.js</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <h1>List of persons</h1>
    <div id="listPerson"></div>
</div>

<script id="itemPerson" type="text/template">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#<%= link %>"><img class="media-object" width="100" src="<%= img %>" alt="<%= name %>"></a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= name %></h4>
            <ul>
                <li>Age: <%= age %></li>
                <li>Gender: <%= gender %></li>
            </ul>
        </div>
    </div>
</script>

<script src="js/models/personModel.js"></script>
<script src="js/views/personView.js"></script>
<script src="js/views/allPersonView.js"></script>
<script src="js/collections/personCollection.js"></script>
<script src="js/routes/personRouter.js"></script>
<script src="js/app.js"></script>
</body>
</html>